{
  "$schema": "https://github.com/toeverything/affine/releases/latest/download/config.schema.json",
  "deployment": {
    "type": "selfhosted"
  },
  "server": {
    "name": "AFFiNE Self-hosted",
    "externalUrl": "http://localhost:3010",
    "hosts": []
  },
  "copilot": {
    "enabled": true,
    "byok": {
      "enabled": true,
      "allowCustomEndpoint": true,
      "allowPrivateEndpoint": true
    }
  },
  "auth": {
    "signInMethods": {
      "password": true,
      "magicLink": true,
      "oauth": true
    }
  },
  "indexer": {
    "enabled": true,
    "provider.type": "embedded"
  },
  "oauth": {
    "providers": {
      "oidc": {
        "issuer": "https://idp.example.com/webman/sso",
        "clientId": "",
        "clientSecret": "",
        "allowPrivateNetwork": false,
        "trustUnverifiedEmail": false,
        "args": {
          "scope": "openid email"
        }
      }
    }
  }
}
